html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0px;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0;
}

header {
    background-color: #3d3d3d;
    padding: 0px;
    height: 50px;
    /* position: sticky; */
    top: 0;
}

.cva-h1, .cva-h2, .cva-h3, .cva-h4, .cva-h5, .cva-h6 {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
}

.cva-h1 {
    font-size: 1.75em;
}

.cva-h2 {
    font-size: 1.25em;
}

.cva-h3 {
    font-size: 1.125em;
}

.cva-h4 {
    font-size: 1em;
}

.cva-h5 {
    font-size: 0.875em;
}

.cva-h6 {
    font-size: 0.875em;
}

.cva-caption {
    font-size: 0.875em;
}

.cva-form-sz-small {
    font-size: 0.875em;
    padding: 0.125em 0.5em;
}

.cva-form-sz-middle {
    font-size: 0.875em;
    padding: 0.313em 1em;
}

.cva-form-sz-large {
    font-size: 1em;
    padding: 0.5em 1em;
}

button.confirm, button.cancel {
    display: inline-block;
    flex: none;
    outline: 0;
    color: #fff;
    cursor: pointer;
    font-weight: inherit;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    background: 0 0;
    border-radius: 3px;
    border: 1px solid;
}

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    position: fixed;
    transition: 0.3s ease all;
}

.modal.hide {
    opacity: 0;
    pointer-events: none;
}

.modal>.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
}

.modal>.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    display: block;
    margin-bottom: 1.3em;
    padding: 1.3em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-sizing: border-box;
}

.info-card {
    max-width: 100%;
    width: 768px;
    height: 500px;
    max-height: 90vh;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

header ul.nav li a {
    width: 3em;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

.expanding {
    flex: 1 1 auto;
    min-height: 0;
    /* height: 0; */
    width: 100%;
    height: 80%;
    overflow-y: auto;
    display: block;
}

.column {
    float: left;
    margin: 5px;
    padding: 0;
}

.column.left {
    width: 50%;
}

.column.right {
    width: 48.6%;
    background-color: #c5dbf077;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #c0d2e4;
    text-align: center;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td, .pure-table th {
    border-left: 1px solid #c0d2e4;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    /* padding: .3em .3em; */
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    background-color: transparent;
}

.pure-table-bordered th, .pure-table-bordered td {
    border-bottom: 1px solid #4a90d6;
}

.pure-table-bordered tbody>tr:last-child>td {
    border-bottom-width: 0;
}

.timetable {
    /* margin-left: auto; */
    /* margin-right: auto; */
    background: #f3f7ec77;
    /* position: fixed; */
    top: 80;
    left: 20;
    width: 100%;
    /* table-layout: sticky; */
}

.timetable tr {
    height: 4em;
}

.timetable tr td:first-child, .timetable tr th:first-child {
    width: 9%;
}

.timetable tr td:not(td:first-child), .timetable tr th:not(th:first-child) {
    width: 13%;
}

.session-label {
    border: 2px solid #1bb8a377;
    border-radius: 8px;
    background-color: #c9f7e4;
    font-size: 0.8em;
    padding: 2 2 2 2px;
    margin: 2 2 2 2px;
}

.session-label:hover {
    background: #c8f7eb;
    transition: 0.2s;
}

.session-label p {
    margin: 2 0 0 0em;
}

ul.clist {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* width: 100%; */
    background-color: #e6eaf3;
    /* height: 100%; */
    overflow: auto;
    user-select: none;
}

ul.clist li {
    display: block;
    /* border: 1px solid #7873b3; */
    padding: 4 4 4 4px;
    text-decoration: none;
}

ul.clist li div {
    display: block;
    padding: 8 0 8 0px;
}

ul.clist li:not(ul):hover {
    background-color: #c3c6cc;
    transition: 0.2s;
}

ul.clist li ul {
    display: block;
    color: #000;
    background-color: #d0dbec;
    margin-left: 8px;
    padding-left: 4px;
    text-decoration: none;
}

ul.clist li ul li {}

ul.clist li ul li:hover {
    background-color: #b6bdc9;
}

ul.clist li ul li.selected {
    background-color: #7ed155;
}

ul.clist li ul li.conflicting:not(.selected):not(.pseudo-conflicting) {
    background-color: #d95f52;
}

ul.clist li ul li.pseudo-conflicting {
    background-color: #d9d052;
}

.tag-caption {
    /*有颜色的圆角矩形标签*/
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #1bb8a3;
    color: #f1f1f1;
    padding: 4 6 4 4px;
}

.text-center {
    text-align: center;
}

.data-input {
    font: 14px "Consolas";
    resize: none;
}

ul.course-nav {
    background-color: #6ca3cb;
    width: 3em;
}

ul.course-nav li a:hover:not(.active) {
    background-color: #86b7da;
}

.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
    display: block;
    overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */

.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    /* or add it to the track */
}

/* Add a thumb */

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #999;
}


.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: auto;
	background-color: #000000bb;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
	top: -150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%; /* 提示工具底部 */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #000000bb transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.hide {
    display: none !important;
}

.cv-login {
    position: relative;
    margin: 0 auto;
    min-height: 440px;
    background-color: #fff;
    padding: 38px 24px 20px 24px;
    color: #444;
    border-radius: 8px;
}